/* CSS for the EditProducts page */
.container-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .profile-img-card {
    max-width: 100%;
    height: auto;
  }
  
  input[type="file"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #1976d2;
  }
  
  .custom-toast {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .item {
      flex-basis: 100%;
    }
  }
  