.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  text-align: center;
  flex-grow: 1; /* Expand to fill available space */
}

.header-content h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.header-content p {
  color: #aaa;
  margin-top: 5px;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button a {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button a:hover {
  background-color: #4fa3d1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.auth-form h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #4fa3d1;
  margin-bottom: 40px;
  text-align: center;
}

.auth-form label,
.auth-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.auth-form button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.auth-form button:hover {
  background-color: #4fa3d1;
}

.auth-form p {
  margin-top: 20px;
  text-align: center;
}

.auth-form p a {
  color: #61dafb;
  text-decoration: none;
}

/* App.css */
.carousel-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.carousel-item {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel-legend {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  text-align: center;
}

/* Additional styling */
.App-content {
  padding: 20px;
  text-align: center;
}

.centered-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
 
}
